$tabAndHeaderHeight: 100px;

// css mixin for card
@mixin card {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--primary-bg-color-light);
    margin: 1rem 0;
}

.form-demo-container {
    padding: 0 1rem;

    .p-tabpanels {
        height: calc(100vh - #{$tabAndHeaderHeight});
        overflow: auto;
    }
}

.demo-controls {
    @include card;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;

    .demo-control {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .demo-control {
            flex-direction: row;
            align-items: center
        }
    }
}

.live-demo {
    @include card;
}