<p-dialog [visible]="visible()"
  [style]="{width: '450px'}"
  i18n-header="@@exportDialogHeaderTitle"
  header="Exporter les données"
  [modal]="true"
  styleClass="p-fluid"
  (visibleChange)="$event ? false : onHide()"
  (onHide)="onHide()">
  <ng-template pTemplate="content">
    <div class="container">
      <span class="label" i18n="@@exportDialogChooseFormat">Choisir le format</span>
      <p-selectButton
        [options]="formats()"
        [(ngModel)]="format"
        optionLabel="label"
        optionValue="value"
      />
    </div>

    <div class="container">
      <span class="label" i18n="@@exportDialogChooseData">Quelles données ?</span>
      <p-selectButton
        [options]="selectionOptions"
        [(ngModel)]="selection"
        optionLabel="label"
        optionValue="value"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton
      pRipple
      i18n-label="@@exportDialogCancelButton"
      label="Annuler"
      icon="pi pi-times"
      class="p-button-text"
      (click)="onHide()">
    </button>

    <button pButton
      pRipple
      i18n-label="@@exportDialogExportButton"
      label="Exporter"
      icon="pi pi-check"
      class="p-button-success"
      [loading]="isLoading()"      
      (click)="onExport()">
    </button>
  </ng-template>
</p-dialog>
