<p-inputNumber 
    [formControl]="control()"
    [showClear]="showClear()"
    [placeholder]="placeholder()"
    [max]="options().max"
    [min]="options().min"
    [minFractionDigits]="options().minFractionDigits"
    [maxFractionDigits]="options().maxFractionDigits"
    [step]="options().step"
    [showButtons]="options().areNumberInputButtonsVisible ?? true"
    [useGrouping]="options().useNumberGrouping ?? false"
    [currency]="currency()"
    [mode]="mode()"
    (onClear)="emitInteractionEvent('clear')"
    (onBlur)="emitInteractionEvent('blur')"
    (onFocus)="emitInteractionEvent('focus')"
    (onInput)="emitInteractionEvent('keyup')"
/>