node_modules/*
website/node_modules/*
/.scannerwork
.DS_Store
Thumbs.db
src/public/*
tests/coverage/
docker/conf/.env.dev
docker/conf/.env.prod
website/docs/.vitepress/cache
.github/instructions/
.github/agents/
mocks/ms_auth/src/data/credentials.js
swagger/src/gatelin.openapi.json
# APM dependencies
apm_modules/
**/__pycache__/
