<p-dialog
  [(visible)]="visible"
  i18n-header="@@Table_ColumnsManagementDialogHeader"
  header="Gestion des colonnes"
  [modal]="false"
  [focusOnShow]="false"
  [maximizable]="true"
  styleClass="p-fluid"
  (onHide)="onCancel()">
  
  <ng-template pTemplate="content">
    <div class="dialog-content">
      @if (isPreferencesModeEnabled()) {
        <div class="views-container">
          <tbl-columns-views
            [views]="editedViews()"
            (viewSelected)="onSelectView($event)"
            (viewCreationClicked)="isViewCreation.set(true)"
            (viewCreationDone)="isViewCreation.set(false)"
            (deleteView)="onDeleteView($event)"
          />
        </div>
      }
      <div class="cols-container">
        <tbl-columns-management
          [activeView]="activeView()"
          [isViewCreation]="isViewCreation()"
          [isPreferencesModeEnabled]="isPreferencesModeEnabled()"
          (columnsReordered)="onColumnsReordered($event)"
          (selectedColumnsKeysChange)="onSelectedColumnsKeysChange($event)"
        />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      pRipple
      severity="secondary"
      label="Annuler"
      i18n-label="@@Table_ColumnsManagementDialogCancelButton"
      icon="pi pi-times"
      (click)="onCancel()"
    />
    <p-button
      pRipple
      severity="primary"
      label="Valider"
      i18n-label="@@Table_ColumnsManagementDialogSaveButton"
      icon="pi pi-check"
      [disabled]="isViewCreation()"
      (click)="onSaved()"
    />
  </ng-template>
</p-dialog>
