<p-multiSelect
    [id]="config().key.toString()"
    [options]="selectOptions()"
    [formControl]="control()"
    [placeholder]="placeholder()"
    filterPlaceHolder="---"
    appendTo="body"        
    display="chip"
    [maxSelectedLabels]="options().maxSelectedLabels ?? 5"
    [filter]="options().areOptionsFilterable ?? true"
    [showToggleAll]="options().isSelectAllEnabled ?? true"
    [showClear]="showClear() && !isRequired()"
    (onChange)="emitInteractionEvent('valueChange')"
    (onClear)="emitInteractionEvent('clear')"
    (onFocus)="emitInteractionEvent('focus')"
    (onBlur)="emitInteractionEvent('blur')"
    (onPanelShow)="emitInteractionEvent('panelOpen')"
    (onPanelHide)="emitInteractionEvent('panelClose')"
/>