<p-pickList
    #picklist
    [source]="sources()"
    [target]="targets()"
    [responsive]="true"
    [sourceStyle]="{'height':'10rem'}"
    [targetStyle]="{'height':'10rem'}"
    filterBy="label"
    [showSourceControls]="false"
    [showTargetControls]="false"
    targetHeader="Choix"
    sourceHeader="Disponibles"
    [disabled]="isDisabled()"
    (onBlur)="emitInteractionEvent('blur')"
    (onChange)="emitInteractionEvent('valueChange')"
    (onFocus)="emitInteractionEvent('focus')"
    (onMoveToSource)="sync()"
    (onMoveToTarget)="sync()"
    (onMoveAllToSource)="sync()"
    (onMoveAllToTarget)="sync()">
    <ng-template let-option pTemplate="item">
            <div class="option-container">
                @if(option.icon){
                    <i [class]="option.icon"></i>
                }
                <div class="ml-2">{{option.label}}</div>
            </div>
    </ng-template>
</p-pickList>