<p-panel
  (mouseover)="sidenavService.setExpanded(true)"
  (mouseleave)="sidenavService.setExpanded(false)"
  [class.collapsed]="!sidenavService.getExpanded()">

  <ng-template pTemplate="header">
    <div [routerLink]="'/'" class="header">
      @if (!sidenavService.getExpanded()) {
        <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#10B981"/>
          <text x="13" y="29" font-family="Montserrat, Arial, sans-serif" font-weight="bold" font-size="32" fill="white">G</text>
        </svg>
      } @else {
        <svg width="140" height="40" viewBox="0 0 140 40" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#10B981"/>
          <text x="13" y="29" font-family="Montserrat, Arial, sans-serif" font-weight="bold" font-size="32" fill="white">G</text>
          <text x="41" y="33" font-family="Montserrat, Arial, sans-serif" font-weight="bold" font-size="38" fill="#10B981">atelin</text>
        </svg>
      }
    </div>
    <i class="pi pi-angle-double-{{sidenavService.getPinned() ? 'left' : 'right'}} toggle-icon"
      (click)="sidenavService.togglePinned()">
    </i>
  </ng-template>

    @if (sideNavItems()) {
      <p-panelMenu #panelMenu
        [model]="sideNavItems()"
        [multiple]="false"
        styleClass="sidenav"
        [style]="{'width':'100%'}"
      />
    }
</p-panel>