<div class="permissions-tree-container">

  <p-select
    [options]="roles"
    [(ngModel)]="selectedRole"
    (onChange)="onRoleSelect($event.value)"
    [showClear]="true"
    placeholder="Select a role"
    i18n-placeholder="@@Permissions_SelectRole"
    appendTo="body"
  >
    <ng-template #item let-role>{{ role.id }} - {{ role.name }}</ng-template>
    <ng-template #selectedItem let-role>{{ role.id }} - {{ role.name }}</ng-template>
  </p-select>

  @if (selectedRoleId() === null) {
    <p class="permissions-tree__placeholder" i18n="@@PermissionsTree_SelectRolePlaceholder">
      Please select a role to view its permissions.
    </p>
  } @else {
  <p-treetable
    [value]="treeNodes()"
    [loading]="isLoading()"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template #header>
      <tr>
        <th i18n="@@PermissionsTree_RouteCol">Route</th>
        <th class="permissions-tree__center-col" i18n="@@PermissionsTree_ActiveCol">Active</th>
        <th i18n="@@PermissionsTree_FieldsCol">Fields</th>
        <th i18n="@@PermissionsTree_ScopeCol">Scope</th>
        <th i18n="@@PermissionsTree_ConditionCol">Conditions</th>
      </tr>
    </ng-template>

    <ng-template #body let-rowNode let-rowData="rowData">
      @let hasPerm = (rowData | getPerm:selectedRoleId()) !== undefined;
      <tr
        [ttRow]="rowNode"
        [class.permissions-tree__row--route]="rowData.type === 'route'"
        [class.permissions-tree__row--disabled]="rowData.type === 'route' && !rowData.protected && !hasPerm"
        (click)="rowData.type === 'route' && !rowData.protected && !hasPerm ? null : onRowClick(rowData)"
      >
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          <span [class]="'permissions-tree__label--' + rowData.type">{{ rowData.name }}</span>
        </td>
        <td class="permissions-tree__center-col" style="text-align: center;" (click)="$event.stopPropagation()">
          @if (rowData.type === 'route') {
            <p-checkbox
              [ngModel]="hasPerm"
              [binary]="true"
              [disabled]="!rowData.protected && !hasPerm"
              (onChange)="onToggle(rowData, $event.checked)"
            />
          }
        </td>
        <td>
          @if (rowData.type === 'route') {
            @let perm = rowData | getPerm:selectedRoleId();
            <div class="permissions-tree__chips">
              @for (field of (perm?.fields ?? []); track field) {
                <p-chip [label]="field" styleClass="permissions-tree__chip" />
              }
            </div>
          }
        </td>
        <td>
          @if (rowData.type === 'route') {
            @let perm = rowData | getPerm:selectedRoleId();
            <div class="permissions-tree__chips">
              @for (scope of (perm?.scopes ?? []); track scope) {
                <p-chip [label]="scope" styleClass="permissions-tree__chip" />
              }
            </div>
          }
        </td>
        <td>
          @if (rowData.type === 'route') {
            @let perm = rowData | getPerm:selectedRoleId();
            <div class="permissions-tree__chips">
              @for (condId of (perm?.conditionId ?? []); track condId) {
                @let cond = conditionById.get(condId);
                <p-chip
                  [label]="cond?.name ?? ''"
                  styleClass="permissions-tree__chip"
                  [style]="{'background': cond?.color ?? '', 'color': cond?.color ? '#fff' : ''}"
                />
              }
            </div>
          }
        </td>
      </tr>
    </ng-template>
  </p-treetable>
  }

  <crd-edition-dialog
    [(editedEntry)]="editedPermEntry"
    [config]="dialogConfig()"
    [features]="dialogFeatures"
    [isVisible]="dialogVisible()"
    [isCreation]="false"
    [customHeader]="dialogHeader()"
    [size]="'s'"
    (saved)="onPermSaved($event)"
    (hide)="dialogVisible.set(false)"
  />

</div>
