<div class="permissions-container">

  <p-select
    [options]="roles"
    [(ngModel)]="selectedRole"
    (onChange)="onRoleSelect($event.value)"
    [showClear]="true"
    placeholder="Select a role"
    i18n-placeholder="@@Permissions_SelectRole"
    appendTo="body"
  >
    <ng-template #item let-role>{{ role.id }} - {{ role.name }}</ng-template>
    <ng-template #selectedItem let-role>{{ role.id }} - {{ role.name }}</ng-template>
  </p-select>

  <tbl-table
    [config]="config"
    [httpCalls]="permHttpCalls"
    [entityFactory]="entityFactory"
    [entityId]="tableInformation.key"
    [entityLabel]="tableInformation.label"
    [tableTitle]="tableInformation.title"
    [forceReload]="forceReload()"
    [filterLevel]="tableInformation.filterLevel"
    [isPreferencesModeEnabled]="tableInformation.isPreferencesModeEnabled"
  />

</div>
