@let suggestions = autocompleteSuggestions$ | async;
@let id = config().key.toString();
<p-autoComplete
    #autocomplete
    [id]="id"
    [formControl]="control()"
    [placeholder]="placeholder()"
    [suggestions]="suggestions ?? []"
    [forceSelection]="true"
    [showClear]="showClear() && !isRequired() && !options().autocompleteMultiple"
    [completeOnFocus]="!isCompleteOnFocusDisabled()"
    (completeMethod)="handleOnAutocomplete($event.query)"
    [minQueryLength]="options().autocompleteMinQueryLength"
    [delay]="options().autocompleteDelay"
    [multiple]="options().autocompleteMultiple"
    [dropdown]="options().autocompleteDropdown"
    [scrollHeight]="options().autocompleteScrollHeight ?? '200px'"
    (onSelect)="emitInteractionEvent('select')"
    (onKeyUp)="emitInteractionEvent('keyup')"
    (onFocus)="emitInteractionEvent('focus')"
    (onClear)="emitInteractionEvent('clear')"
    (onBlur)="emitInteractionEvent('blur')"
    (onShow)="emitInteractionEvent('panelOpen')"
    (onHide)="emitInteractionEvent('panelClose')"
    scrollHeight="200px"
    optionValue="value"
    optionLabel="label"
    appendTo="body">
    <!-- selected item template does not work... https://github.com/primefaces/primeng/issues/2242 -->
    <ng-template let-option #selecteditem>
        <div class="flex align-items-center">
            @if (options().inputIcon) {
                <i [class]="options().inputIcon" class="mr-2"></i>
            }
            @if (option.icon) {
                <span [innerHtml]="option.icon" class="mr-2"></span>
            }
            <span>{{ option.label }}</span>
        </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
        <div class="flex">
            @if (option.icon) {
                <span [innerHtml]="option.icon" class="mr-2"></span>
            }
            @if (option.extraData?.customLabelDisplay) {
                @let customLabelDisplay = option.extraData.customLabelDisplay;
                <span>
                    {{ customLabelDisplay.mainLabel }} - 
                    <span class="text-400">{{customLabelDisplay.subLabel}}</span>
                </span>
            } @else {
                <span>{{ option.label }}</span>
            }
        </div>
    </ng-template>
</p-autoComplete>