<div class="radio-group p-inputtext" 
    [class.p-disabled]="isDisabled()"
    [class.row-direction]="options().radioOptionsDirection === 'row'">
  @for (radio of config().options; track radio.label) {
    <div class="radio-option">
      <p-radioButton 
        [inputId]="config().key"
        [name]="config().key"
        [value]="radio.value"
        [(ngModel)]="value"
        (onClick)="onClick($event)"
        [disabled]="isDisabled()"
        (onFocus)="emitInteractionEvent('focus')"
        (onBlur)="emitInteractionEvent('blur')"
      />
      <label [for]="config().key">
          {{ radio.label }}
          @if (showClear() && radio.value === value) {
            <i class="pi pi-times delete-icon" (click)="unselect($event)"></i>
          }
      </label>
    </div>    
    }
</div>