@if (customCellRenderer()) {
    <span [innerHTML]="customRenderedValue()"></span>
} @else {
    @switch (options().controlType) {
        @case (ControlTypes.CHECKBOX) {
            <tbl-checkbox-cell-renderer [cellValue]="cellValue()" />
        }
        @case (ControlTypes.DATE) {
            <tbl-date-cell-renderer [cellValue]="cellValue()" />
        }
        @case (ControlTypes.FILES) {
            <tbl-files-cell-renderer [cellValue]="cellValue()" [options]="options()" />
        }
        @case (ControlTypes.MULTISELECT) {
            <tbl-multiselect-cell-renderer [cellValue]="cellValue()" [options]="options()" />
        }
        @case (ControlTypes.PICKLIST) {
            <tbl-multiselect-cell-renderer [cellValue]="cellValue()" [options]="options()" />
        }
        @case (ControlTypes.RADIO) {
            <tbl-select-cell-renderer [cellValue]="cellValue()" [options]="options()" />
        }
        @case (ControlTypes.SELECT) {
            <tbl-select-cell-renderer [cellValue]="cellValue()" [options]="options()" />
        }
        @case (ControlTypes.GROUP) {
            <tbl-group-cell-renderer [cellValue]="cellValue()" />
        }
        @case (ControlTypes.CUSTOM) {
            @let component = options().columnOptions?.customComponent;
            @if (component) {
            <ng-container 
                *ngComponentOutlet="
                    component;
                    inputs: { 
                        cellValue: cellValue(),
                        options: options() 
                    };
                "
            />
            } @else {
            <i class="pi pi-exclamation-triangle orange" 
                title="You must provide a custom component">
            </i>
            }
        }
        @default {
            <span>{{ cellValue() }}</span>
        }
    }
}