<adm-login-background style="width: 100%; height: 100%;" />
<p-card class="login-card">
  <ng-template pTemplate="header">
    Réinitialisation du mot de passe
  </ng-template>

  <form [formGroup]="passwordFormGroup" (ngSubmit)="resetPassword()" autocomplete="new-password">
    <input type="password" style="display:none">
    <input type="email" style="display: none;" formControlName="email" autocomplete="username">

    <input [type]="isPasswordHidden ? 'password' : 'text'"
      pInputText
      placeholder="Nouveau mot de passe"
      formControlName="password"
      required
      autocomplete="new-password"/>
    <button pButton
      (click)="toggleValue('isPasswordHidden')"
      [icon]="isPasswordHidden ? 'pi pi-eye-slash' : 'pi pi-eye'">
    </button>
    @if (password) {
      @if (password.dirty && password.touched && password.hasError('required')) {
        <small class="p-error"
          >
          Mot de passe requis
        </small>
      }
      @if (password.touched && password.hasError('passwordStrength')) {
        <small class="p-error"
          >
          Mot de passe invalide
        </small>
      }
    }

    <input [type]="isPasswordConfirmHidden ? 'password' : 'text'"
      pInputText
      placeholder="Confirm password"
      formControlName="passwordConfirm"
      required
      autocomplete="new-password"/>
    <button pButton
      (click)="toggleValue('isPasswordConfirmHidden')"
      [icon]="isPasswordHidden ? 'pi pi-eye-slash' : 'pi pi-eye'">
    </button>
    @if (passwordConfirm) {
      @if (passwordConfirm.dirty && passwordConfirm.touched && passwordConfirm.hasError('required')) {
        <small class="p-error"
          >
          Mot de passe requis
        </small>
      }
      @if (passwordConfirm.touched && passwordConfirm.hasError('notEqual')) {
        <small class="p-error"
          >
          Mots de passe différents
        </small>
      }
    }

    <button pButton
      type="submit"
      color="primary"
      [disabled]="!passwordFormGroup.valid">
      Réinitialiser le mot de passe
    </button>
  </form>

</p-card>
