label {
    z-index: 2;
    line-height: 1;
    font-size: var(--p-iftalabel-font-size);
    font-weight: var(--p-iftalabel-font-weight);
    inset-inline-start: var(--p-iftalabel-position-x);
    color: var(--p-iftalabel-color);

    &.mandatory-control::after {
        content: "*";
        margin-left: 2px;
    }

    &.checkbox-label {
        position: absolute;
        top: 1.4rem;
        left: 40px;
        display: flex;
    }

    .floating-tooltip {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: all;

        &.normal-tooltip {
            position: unset;
            transform: unset;
            margin-left: 5px;
        }
    }
}

// Allow space for the icon inside the input field
.p-iconfield.has-icon {

    .p-inputtext:not(.p-inputnumber-input),
    .p-inputnumber-input,
    .p-select-label,
    .p-multiselect-label,
    .p-textarea {
        padding-inline-start: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
    }
}

.p-floatlabel:has(.p-inputicon:first-child) label {
    inset-inline-start: 5px;
}

.p-floatlabel:has(.has-icon > .p-inputicon:first-child) label {
    inset-inline-start: calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size));
}