@if (features().update) {
  <button
    pButton
    pRipple
    [protectFeature]="functionalityKey()"
    [minimalOperation]="2"
    icon="pi pi-pencil"
    class="p-button-sm p-button-rounded p-button-text"
    title="Editer"
    (click)="onEdit()">
  </button>
}
@if (features().archive) {
  <button
    pButton
    pRipple icon="pi pi-trash"
    [protectFeature]="functionalityKey()"
    [minimalOperation]="3"
    class="p-button-sm p-button-rounded p-button-text p-button-danger"
    title="Supprimer"
    (click)="onDelete()">
  </button>
}