@if (isVisible()) {
  @let options = controlOptions();
  @let hasError = control().invalid && control().touched;
  <div
    class="form-control-container"
    [class.invalid]="hasError">
    <frm-label-wrapper 
      [config]="config()"
      [control]="control()"
      [labelStrategy]="labelStrategy()"
      [labelVariant]="labelStrategyVariant()">
      <frm-field-renderer
        [config]="config()"
        [control]="control()"
        [isFormReadonly]="isFormReadonly()"
        [syncValueInc]="syncValueInc()"
        (fieldInteraction)="fieldInteraction.emit($event)"
      />
    </frm-label-wrapper>
    <div class="hints">
      @if (options.helpText) {
        <small class="help-text" 
          [title]="options.helpText">
          {{ options.helpText }}
        </small>
      }
      @if (hasError) {
        <frm-error-message   
          [controlErrors]="control().errors" 
        />
      }
    </div>
  </div>
}