<p-contextmenu #cm [model]="contextMenuItems()" appendTo="body" />
<p-table #dataTable
  class="table"
  [scrollable]="true"
  scrollHeight="calc(100vh - 105px)"
  [columns]="visibleColumns()"
  [value]="data()"
  [totalRecords]="total()"
  [rowHover]="true"
  [rows]="20"
  [rowsPerPageOptions]="[20,35,50]"
  [paginator]="paginator()"
  [filters]="defaultFilters()"
  [showCurrentPageReport]="data().length > 0"
  i18n-currentPageReportTemplate="@@Table_CurrentPageReportTemplate"
  currentPageReportTemplate="De {{dataTable | firstRow:lastUpdateTime()}} à {{dataTable | lastRow:totalCount():lastUpdateTime() }} sur {{totalCount()}} élément(s)"
  [lazy]="lazy()"
  [contextMenu]="isContextMenuEnabled() ? cm : null"
  [stateStorage]="stateStorage()"
  [stateKey]="entityId() + '-table-state'"
  [resizableColumns]="true" 
  columnResizeMode="expand"
  [(selection)]="selectedEntries"
  [(contextMenuSelection)]="rightClickedEntry"
  (onLazyLoad)="onLazyLoad($event)"
  (selectionChange)="selectedEntriesChange.emit($event)"
  (onColResize)="onColumnResized($event)">

  <!-- No data panel -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td 
        [attr.colspan]="columns().length" 
        i18n="@@Table_NoData"
        class="no-data-row">
        Pas de données
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <!-- Header labels row -->
    <tr>
      @if (selectable()) {
        <th class="checkbox-column" scope="col">
          <p-tableHeaderCheckbox />
        </th>
      }
      @for (col of columns; track trackCol(col)) {
        <th [pSortableColumnDisabled]="!sortable() || !col.sortable"
          [pSortableColumn]="col.key"
          pResizableColumn
          [pResizableColumnDisabled]="!areColumnsResizable()"
          [title]="col.label"
          [style.width]="col.defaultWidth | colWidth"
          [style.max-width]="col.defaultWidth | colWidth"
          scope="th"
          [attr.data-colkey]="col.key">
          <div class="header-container">
            <div class="sub-container">
              <span>{{ col.label }}</span>
              @if (col.sortable) {
                <p-sortIcon [field]="col.key" />
              }
              @if (col.filterable && filterLevel() === "advanced") {
                <crd-table-filter-cell-prime
                  [col]="col"
                />
              }
            </div>
          </div>
        </th>
      }
      @if (!clickableRows()) {
        <th scope="th">Actions</th>
      }
    </tr>
    <!-- Filter row -->
    @if (filterable() && (filterLevel() === "basic" || filterLevel() === "intermediate")) {
      <tr>
        @if (selectable()) {
          <th class="checkbox-column" scope="col"></th>
        }
        @for (col of columns; track trackCol(col)) {
          <th
            class="filter-row-th"
            [style.width]="col.defaultWidth | colWidth"
            [style.max-width]="col.defaultWidth | colWidth"
            scope="th">
            @if (col.filterable) {
              <crd-table-filter-cell
                [col]="col"
                [dt]="dataTable"
                [filterLevel]="filterLevel()"
              />
            }
          </th>
        }
        @if (!clickableRows()) {
          <th scope="col"></th>
        }
      </tr>
    }
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
    <tr [ngStyle]="customRowStyles() ? customRowStyles()?.(rowData) : {}" [pContextMenuRow]="rowData">
      @if (selectable()) {
        <td class="checkbox-column">
          <p-tableCheckbox [value]="rowData" />
        </td>
      }
      @for (col of columns; track trackCol(col)) {
        @let value = rowData[col.key];
        <td
          [pTooltip]="tooltip"
          [tooltipDisabled]="!value"
          [class.clickable]="clickableRows()"
          [style.width]="col.defaultWidth | colWidth"
          [style.max-width]="col.defaultWidth | colWidth"
          (click)="onCellClick(rowData, col)">
          <tbl-table-cell [cellValue]="value" [options]="col" />
        </td>
        <ng-template #tooltip>
          <tbl-table-cell-tooltip [cellValue]="value" [options]="col" />
        </ng-template>
      }
      @if (!clickableRows()) {
        <td>
          @let customTemplate = customActionsTemplate();
          @if (customTemplate) {
            <ng-container [ngTemplateOutlet]="customTemplate"
              [ngTemplateOutletContext]="{ $implicit: rowData }">
            </ng-container>
          } @else {
            <tbl-table-actions-cell
              [features]="features()"
              [functionalityKey]="functionalityKey()"
              (viewClicked)="onActionClick(rowData, 'read')"
              (editClicked)="onActionClick(rowData, 'write')"
              (deleteClicked)="archived.emit(rowData.id)"
            />
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
