<tbl-table 
    [config]="config"
    [httpCalls]="httpCalls"
    [entityFactory]="entityFactory"
    [entityId]="tableInformation.key"
    [entityLabel]="tableInformation.label"
    [tableTitle]="tableInformation.title"
    [additionalReadonlyProperties]="tableInformation.additionalReadonlyProperties"
    [filterLevel]="tableInformation.filterLevel"
    [customActionsTemplate]="customActionsCell"
    [isPreferencesModeEnabled]="tableInformation.isPreferencesModeEnabled"
/>

<ng-template #customActionsCell let-rowData>
  <p-button
    icon="pi pi-directions"
    i18n-title="@@Roles_ConsultPermissions"
    title="Consult permissions"
    (onClick)="goToPermissions(rowData)"
  />

</ng-template>