crd-history {
    td:not(.first-col),
    th:not(.first-col) {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .first-col {
        width: 100px;
        max-width: 100px;
        min-width: 100px;

        p-button button {
            padding: 0;
            height: auto !important;
        }
    }

    .action-button button {
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    .has-changed {
        color: var(--error-color);
        font-weight: bold;
    }
}