@if (rows()) {
  <p-table [value]="rows()"
    dataKey="id"
    [expandedRowKeys]="expandedRows">
    <ng-template #header>
      <tr>
        <th class="first-col"></th>
        <th>Mis à jour le</th>
        <th>Mis à jour par</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-entry let-expanded="expanded">
      <tr [class.selected]="entry.tstamp === selectedDate">
        <td class="first-col">
          <p-button type="button" pRipple
            [pRowToggler]="entry"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" 
          />
        </td>
        <td>{{ entry.tstamp | date:DATE_FORMAT }}</td>
        <td>{{ entry.who }}</td>
        <td>
          <p-button type="button" pRipple
            class="action-button"
            icon="pi pi-history"
            title="Restaurer"
            (click)="showVersion(entry)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-entry>
      <tr>
        <td colspan="4">            
          <p-table [value]="entry.changes" dataKey="propKey">
            <ng-template #header>
              <tr>
                <th class="first-col"></th>
                <th>Propriété</th>
                <th>Valeur</th>
                <th>Ancienne valeur</th>
              </tr>
            </ng-template>
            <ng-template #body let-row>
              <tr>
                <td class="first-col"></td>
                <td>{{ row.label }}</td>
                <td [class.has-changed]="row.hasChanged">{{ row.newValue }}</td>
                <td>{{ row.oldValue }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
      
    </ng-template>
  </p-table>
}
