<p-select [formControl]="control()"
    [options]="selectOptions()"
    [showClear]="showClear() && !isRequired()"
    [placeholder]="placeholder()"
    filterPlaceholder="---"
    [filter]="options().areOptionsFilterable ?? true"
    appendTo="body"
    (onChange)="emitInteractionEvent('valueChange')"
    (onClear)="emitInteractionEvent('clear')"
    (onFocus)="emitInteractionEvent('focus')"
    (onBlur)="emitInteractionEvent('blur')"
    (onPanelShow)="emitInteractionEvent('panelOpen')"
    (onPanelHide)="emitInteractionEvent('panelClose')">
    <ng-template let-option pTemplate="selectedItem">
        @if (option?.icon) {
            <i [class]="option?.icon" class="icon"></i>              
        }
        <span>{{option.label}}</span>
    </ng-template>
    <ng-template let-option pTemplate="item">
        @if (option?.icon) {
            <i [class]="option?.icon" class="icon"></i>              
        }
        <span>{{option.label}}</span>
    </ng-template>
</p-select>