<div class="fields-container">

  <p-select
    [options]="applications"
    [(ngModel)]="selectedApp"
    (onChange)="onAppSelect($event.value)"
    [showClear]="true"
    optionLabel="name"
    placeholder="Filter by application"
    i18n-placeholder="@@Fields_SelectApp"
  />

  <p class="info-message" i18n="@@Fields_Info">
    Fields allow you to restrict permissions at the property level of a resource.
    They only need to be declared for resources where you want to grant different permissions depending on the field.
    For example, a <strong>user</strong> resource could expose a <strong>salary</strong> field that only a manager role is allowed to read, while other roles can access the rest of the resource.
  </p>
  <tbl-table
      [config]="config"
      [httpCalls]="httpCalls"
      [entityFactory]="entityFactory"
      [entityId]="tableInformation.key"
      [entityLabel]="tableInformation.label"
      [tableTitle]="tableInformation.title"
      [customRowStyles]="tableInformation.customRowStyles"
      [filterLevel]="tableInformation.filterLevel"
      [forceReload]="forceReload()"
      [isPreferencesModeEnabled]="true"
      [isDefaultEditionDisabled]="true"
      (rowClicked)="onRowClicked($event)"
  />

</div>
