@if (isLoading()) {
  <p-progressBar class="table-progress-bar" mode="indeterminate" />
}

<tbl-table-toolbar
  [features]="features()"
  [tableTitle]="tableTitle()"
  [selectedEntries]="selectedEntries"
  [selectable]="selectable()"
  [areColumnsConfigurable]="areColumnsConfigurable()"
  [isExcelExportEnabled]="isExcelExportEnabled()"
  [isCsvExportEnabled]="isCsvExportEnabled()"
  [isExportingData]="isExportingData()"
  [cols]="columns()"
  [functionalityKey]="functionalityKey()"
  [(isExportDialogVisible)]="isExportDialogVisible"
  (archiveManyClicked)="onArchiveMany()"
  (exportClicked)="onExport($event)"
  (newClicked)="onNew()"
  (manageColumnsClicked)="showColumnsManagement()"
  (refreshDataClicked)="refreshData()"
/>

<tbl-table-regular
  #table
  [columns]="columns()"
  [class.p-table-no-paginator]="!paginator()"
  [data]="data()"
  [total]="total()"
  [selectable]="selectable()"
  [(selectedEntries)]="selectedEntries"
  [clickableRows]="clickableRows()"
  [lazy]="lazy()"
  [features]="features()"
  [functionalityKey]="functionalityKey()"
  [filterable]="filterable()"
  [defaultFilters]="defaultFilters()"
  [sortable]="sortable()"
  [defaultSort]="defaultSort()"
  [paginator]="paginator()"
  [filterLevel]="filterLevel()"
  [customRowStyles]="customRowStyles()"
  [customActionsTemplate]="customActionsTemplate()"
  [isContextMenuEnabled]="isContextMenuEnabled()"
  [entityId]="entityId()"
  [stateStorage]="stateStorage()"
  [areColumnsResizable]="areColumnsResizable()"
  (lazyLoaded)="onLazyLoad($event)"
  (archived)="onArchive($event)"
  (cellClicked)="onCellClick($event)"
  (columnResized)="onColumnResized($event)"
/>

@if (isColumnsConfigDialogDisplayed()) {
  <tbl-columns-management-dialog
    [visible]="isColumnsConfigDialogDisplayed()"
    [isPreferencesModeEnabled]="isPreferencesModeEnabled()"
    [views]="views()!"
    (closed)="hideColumnsConfigDialog()"
    (saved)="applyViews($event)"
  />
}

@if (isEntryEditionDialogDisplayed() && editedEntry) {
  <crd-edition-dialog
    [isVisible]="isEntryEditionDialogDisplayed()"
    [customHeader]="editionDialogTitle()"
    [entityLabel]="entityLabel()"
    [config]="config()"
    [editedEntry]="editedEntry"
    [isCreation]="isCreation()"
    [isReadonly]="isReadonly()"
    [groupValidator]="groupValidator()"
    [features]="features()"
    [protectDeletion]="protectDeletion()"
    [getHistory]="httpCalls().getHistory"
    [functionalityKey]="functionalityKey()"
    [isLoading]="isLoading()"
    [width]="editionDialogWidth()"
    [height]="editionDialogHeight()"
    [size]="editionDialogSize()"
    (hide)="hideEditionDialog()"
    (saved)="onEditedEntrySave($event)"
    (archived)="onEditedEntryArchive($event)"
    (edited)="onEditedEntryEdit($event)"
    (formChanged)="onFormChanged($event)"
    (validityChanged)="onValidityChanged($event)"
  />
}

<p-confirmdialog />

<p-toast />