tbl-table {
  height: 100%;
  display: block;
  position: relative;


  .table-progress-bar {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
  }

  .p-button-text,
  .p-button-text:enabled:hover {
    color: var(--primary-font-color);
  }

  .table {
    margin: 0 5px;
    display: block;

    .p-datatable-table {
      table-layout: fixed; // Allows to manually resize columns. Do not remove.

      // Header styles
      .p-datatable-thead tr th {

        .header-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .sub-container {
            display: flex;
            align-items: center;
            width: 100%;

            span {
              flex: 1;
            }

            p-sorticon {
              margin-left: 10px;
            }
          }
        }
      }

      // Body styles
      .p-datatable-tbody tr {


        th span {
          max-width: calc(100% - 60px);
        }

        td {
          span.centered {
            text-align: center;
          }

          &.no-data-row {
            border: 0;
            padding: 1rem;
            text-align: center;
          }
        }
      }

      tr,
      th,
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.checkbox-column {
          max-width: 3rem;
          min-width: 3rem;
          width: 3rem;
        }

        &.clickable {
          cursor: pointer;
        }

        &.filter-row-th {
          overflow: unset;
        }

        span:not(:has(span)) {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 2px;
        }

        .p-chip {
          width: max-content;
          display: inline-block !important;
          margin-right: 5px;
        }

        .cell-image {
          margin: auto;
          display: block;
          border-radius: 50%;
        }
      }
    }

    /* Number filter styles */
    .p-column-filter-overlay button.p-inputnumber-button {
      width: max-content;
      height: max-content;
      padding: 0 0.5rem;
      border-radius: 0;
    }

    /* Fixes a bug where the hover effect makes frozen columns transparent */
    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover td.p-frozen-column {
      background: var(--primary-bg-color);
    }
  }

}