@let _form = form();
@if (_form) {
  <div [formGroup]="_form" class="form-container" #formGroup="ngForm">
    @for (config of config(); track trackControl($index, config)) {
      @if (config.controlType === "group") {
        @let group= _form | formGroupByKey:config.key;
        @if (group) {
           <p-panel [formGroup]="group" 
            class="form-group" #childFormGroup="ngForm" 
            [toggleable]="true"
            [header]="config.label">
            @for (child of config.children; track trackControl($index, child)) {              
              <ng-container 
                [ngTemplateOutlet]="controlTemplate" 
                [ngTemplateOutletContext]="{ $implicit: child, form: group }" 
              />
            }
          </p-panel>
        }
      } @else if (config.controlOptions?.isFormArray) {
        <frm-array-element 
          [config]="config" 
          [formGroup]="_form" 
          [defaultControlWidth]="defaultControlWidth()"
          [isFormReadonly]="isReadonly()"
          [syncValueInc]="syncValueInc()"
        />
      } @else {
        <ng-container 
          [ngTemplateOutlet]="controlTemplate" 
          [ngTemplateOutletContext]="{ $implicit: config, form: _form }" 
        />
      }
    }
    @empty {
      <p class="empty-form" i18n="@@Form_NoConfiguredField">Aucun champ disponible</p>
    }
  </div>
  @if (formErrors) {
    <small class="error">
      <i class="pi pi-exclamation-triangle"></i>
      {{ formErrors }}
    </small>
  }
  <div class="actions-container">
    @if (showReset()) {
      <crd-crud-button 
        type="cancel"
        [label]="resetButtonLabel()!" 
        (click)="onReset()" 
        [disabled]="formGroup.pristine ?? true"
      />
    }
    @if (showSubmit()) {
      <crd-crud-button 
        type="validate"
        [label]="submitButtonLabel()!" 
        (click)="onSubmit()" 
        [disabled]="formGroup.invalid ?? true" 
      />
    }
  </div> 
  @if (showDebug()) {
    <h4>Debug: values</h4>
    <pre>{{ model() | json }}</pre>
    <h4>Debug: conf</h4>
    <pre>{{ config() | fullJson }}</pre>
  } 
} @else {
  <p-progressSpinner />
}


<ng-template #controlTemplate let-item let-form="form">
    <frm-simple-element
      [config]="item"
      [control]="form | toControl:item.key"
      [isFormReadonly]="isReadonly()"
      [defaultControlWidth]="defaultControlWidth()"
      [labelStrategy]="labelStrategy()"
      [labelStrategyVariant]="labelStrategyVariant()"
      [syncValueInc]="syncValueInc()"
      (fieldInteraction)="emitInteraction($event)"
    />
</ng-template>